*,
*::after,
*::before 
{
  margin: 0;
padding: 0;
box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
    box-sizing: border-box;
}

body {
  display: flex;  
  background-image: url('../images/colorful-forest-game-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  flex-wrap: wrap; 
}

h1, h2, h3{
  display: flex;
  /* justify-content: center; */

  padding: 10px; 
  font-family: Chalkduster, fantasy;
  font-weight: 100;
  font-size: 4vw;
  text-align: center;
}

h3{
  display: flex; 
  align-content: center;
  color: crimson;
  font-size: 65px;
  text-align: center;
  font-size: 60px;
}

h1{
  color:#BA2953;
}

.button{
  width: 140px;
  height: 140px;
  margin: 10px;
  border-radius: 17%;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform-style: preserve-3d;
  transform: scale(1);
  transform-style: preserve-3d
}

.container{
    display: flex; 
    margin: auto;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
    margin: auto;
    align-items: center;
    position: relative;
    align-content: space-around;  
}
@media (max-width: 1200px){
  .container{
    width: 550px;
  }
  .button{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 17%;
  }
}
@media (max-width: 768px){
  .container{
    width: 500px;
  }
  .button{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 17%;
  }
}
    
@media(max-width: 480px){
  .container{
    margin: auto;
    width: 400px; 
  }
  .button{
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 17%;
  } 
}

@media(max-width: 320px){
  .container{
    width: 300px;
  }
  .button{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 17%;
  }
} 